{% extends 'main.html' %} {% load static %}{% block content %}
    <!-- Banner Section Start -->

    <section class="banner-section position-relative">
        <img class="banner-shape" src="{% static 'assets/images/banner/shape1.png' %}" alt="shape" />
        <div class="container">
            <div class="row">
                <!-- Banner-Content Start -->
                <div class="col-md-6">
                    <div class="banner-content banner-padding">
                        <h3 class="title">Blog Details</h3>
                        <p>
                            Pleasure rationally encounter consequences <br />
              are extremely painful great oppurtunity
                        </p>
                    </div>
                </div>
                <!-- Banner-Content End -->

                <!-- Banner-Content Start -->
                <div class="col-md-6 mt-7 mt-md-0">
                    <div class="banner-content scene banner-img">
                        <div data-depth="0.2">
                            <img src="{% static 'assets/images/blog/banner.png' %}" alt="img" />
                        </div>
                    </div>
                </div>
                <!-- Banner-Content End -->
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Blog Section Start -->
    <section class="blog-section section-py">
        <div class="container">
            <div class="row mb-n7">
                <!-- blog-details-content -->
                <div class="col-xl-8 col-lg-8 mb-7">
                    <div class="blog-details-content">
                        <!-- blog-details-thumb -->
                        <div class="blog-details-thumb">
                            <img src="{{post.image.url}}" alt="img" />
                        </div>
                        <!-- blog-details-thumb -->
                        <p class="blog-details-meta">{{post.user.username|title}} - {{post.date}}</p>
                        <h3 class="blog-details-title">
                            {{post.title}}
                        </h3>
                        
                        <!-- blog-qutation end -->
                        <!-- blog-details-grid start -->
                        <div class="blog-details-grid">
                            {{post.content}}
                        </div>
                        <!-- blog-details-grid end -->
                        <!-- social-tags start -->
                        <div class="social-tags d-sm-flex justify-content-between align-items-center">
                            <p class="mb-4 mb-sm-0">
                                <i class="fa fa-tags"></i> {% for t in post.tags.all %}#{{t.name}} {% endfor %}
                            </p>

                            <!-- social links start-->
                            <ul class="social-links d-flex">
                                <li class="share"><span>Share</span></li>
                                <li>
                                    <a href="#"><i class="icofont-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icofont-instagram"></i></a>
                                </li>
                            </ul>

                            <!-- social links end-->
                        </div>
                        <!-- social-tags end --> 
                    </div>
                </div>
                <!-- blog-details-content -->
                <div class="col-xl-3 col-lg-4 mb-7 offset-xl-1">
                    <div class="widget-wrapper widget-wrapper-nl">
                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Search</h3>
                            <div class="widget-content">
                                <div class="widget-search">
                                    <form action="#">
                                        <input class="form-control" type="text" placeholder="Type your keyword..." />
                                        <button class="widget-search-btn">
                                            <i class="icofont-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- sidebar-widget end -->

                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Categories</h3>
                            <div class="widget-list">
                                <ul class="list-group list-group-flush">
                                    {% for ct in category %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ct.name}}<span>{{ct.number}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- sidebar-widget end -->
                        

                        <!-- sidebar-widget start -->
                       

                        <!-- sidebar-widget start -->
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Tags</h3>
                            <div class="widget-tags">
                                {% for t in tags %}
                                <a class="widget-tag-link" href="JavaScript:Void(0);">{{t.name}}</a>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- sidebar-widget end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section ENd -->

    <!-- News letter Section Start -->
    <section class="news-letter-section section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-6 mx-auto">
                    <div class="title-section mb-10 text-center">
                        <span class="sub-title">NEWSLETTER</span>
                        <h3 class="title mb-0">
                            Subscribe <span class="text-primary">Newsletter</span> &
                            <br class="d-none d-xl-block" />get latest update...
                        </h3>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <form id="mc-form" class="news-letter-form d-flex">
                        <input id="mc-email" class="form-control" type="email" placeholder="Enter Email here" name="email" required="" />
                        <button class="search-btn" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- News letter Section End -->
{% endblock %}