{% extends 'main.html' %} {% load static %}
    <!-- Banner Section Start -->
{% block content %}
    <section class="banner-section position-relative">
        <img class="banner-shape" src="{% static 'assets/images/banner/shape1.png' %}" alt="shape" />
        <div class="container">
            <div class="row">
                <!-- Banner-Content Start -->
                <div class="col-md-6">
                    <div class="banner-content banner-padding">
                        <h3 class="title">Blog Post</h3>
                        <p>
                            Pleasure rationally encounter consequences <br />
              are extremely painful great oppurtunity
                        </p>
                    </div>
                </div>
                <!-- Banner-Content End -->

                <!-- Banner-Content Start -->
                <div class="col-md-6 mt-7 mt-md-0">
                    <div class="banner-content scene banner-img">
                        <div data-depth="0.2">
                            <img src="{% static 'assets/images/blog/banner.png' %}" alt="img" />
                        </div>
                    </div>
                </div>
                <!-- Banner-Content End -->
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Blog Section Start -->
    <section class="blog-section section-py">
        <div class="container">
            <div class="row mb-n7">
                <!-- single blog start -->
                {% for p in posts %}
                <div class="col-lg-4 col-sm-6 mb-7">
                    <div class="blog-card">
                        <div class="thumb bg-light p-0 text-center">
                            <a href="{% url 'post_detail' p.id %}">
                                <img src="{{p.image.url}}" alt="img" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <span class="blog-meta">{{p.user.username|title}} - {{p.date}}</span>
                            <h3 class="title">
                                <a href="{% url 'post_detail' p.id %}">{{p.title}}</a>
                            </h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- single blog end -->

            </div>

            <div class="row mt-10">
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span class="pagination-hr"></span></a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section ENd -->

    <!-- News letter Section Start -->
    <section class="news-letter-section section-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-6 mx-auto">
                    <div class="title-section mb-10 text-center">
                        <span class="sub-title">NEWSLETTER</span>
                        <h3 class="title mb-0">
                            Subscribe <span class="text-primary">Newsletter</span> &
                            <br class="d-none d-xl-block" />get latest update...
                        </h3>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-10 mx-auto">
                    <form id="mc-form" class="news-letter-form d-flex">
                        <input id="mc-email" class="form-control" type="email" placeholder="Enter Email here" name="email" required='' />
                        <button class="search-btn" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

 {% endblock %}